$variable-columns: false;
@import '~bulma/bulma';

@import url('//fonts.googleapis.com/css?family=Pacifico');
@import url('//fonts.googleapis.com/css?family=Poppins');
@import url('//fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('//use.fontawesome.com/releases/v5.2.0/css/all.css');

$logo: 'Pacifico', cursive;
$postTitles: 'Libre Baskerville', serif;
$description: 'Poppins', sans-serif;

$yellowTitle: #ffce46;

body {
  background: #ffffff;
}

header {
  .title {
    font-family: $logo;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.me {
  margin-bottom: 50px;
  .name {
    font-family: $postTitles;
    font-weight: 700;
    font-size: 60px;
    color: $yellowTitle;
  }
  .info {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }
    .bio {
      max-width: 800px;
      font-size: 20px;
      font-family: $description;
      @media screen and (max-width: 1000px) {
        margin: 0 auto;
      }
    }
    .rrss {
      align-self: flex-end;
    }
  }
}

.rrss {
  @media screen and (max-width: 1000px) {
    padding: 30px 0;
    margin: 0 auto;
  }
  .link {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    @media screen and (max-width: 1000px) {
      margin: 0 50px;
    }
    .icon {
      font-size: 2em;
      @media screen and (max-width: 1000px) {
        font-size: 3em;
      }
    }
  }
}

.blog {
  margin-top: 2rem;
  margin-bottom: 2rem;
  a {
    text-decoration: none;
    color: inherit;
    article {
      margin-bottom: 2rem;
      h1 {
        font-size: 40px;
        font-weight: 700;
        font-family: $postTitles;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        font-family: $description;
      }
    }
  }
}

.post {
  max-width: 800px;
  margin: 50px auto 0px auto;
  text-align: justify;
  font-family: $description;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  p {
    padding: 10px 0;
  }
}
